@use '/src/scss/mixins' as *;
@use '/src/scss/colors' as *;
@use '/src/scss/templates' as *;

.nav {
    display: flex;
    @include gap(15);
    @include mediaGap(5);
    a {
        width: max-content;
        @extend %border__bottom;
        padding-bottom: 2px;
    }
    * {
        color: $mainText;
        text-decoration: none;
    }
    .active {
        border-color: $mainColor;
    }
}
