@use '../../scss/mixins' as *;
@use '../../scss/colors' as *;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $secondaryBackgroundColor;
    @include width(1000);
    @include margin(50, 0, 50, 0);
    margin-left: auto;
    margin-right: auto;
    @include padding(20, 20, 20, 20);
    @include border(2, $mainColor);
    @include borderRadius(20);
    @include mediaBorderRadius(10);
    @include mediaPadding(20, 20, 20, 20);
    @include mediaGap(10);
    * {
        color: $mainText;
    }
    @media (max-width: 850px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include gap(20);
    width: 80%;
    @include mediaGap(10);
}
