@use '/src/scss/templates' as *;
@use '/src/scss/mixins' as *;

.section {
    @extend %section;
    main {
        display: flex;
        @media (max-width: 850px) {
            flex-direction: column;
        }
    }
}
.main {
    display: flex;
    position: relative;
    height: 500px;
}
.map {
    position: relative;
    width: 65%;
    @extend %ymaps__layers__pane;
    iframe {
        width: 100%;
        height: 100%;
    }
    @media (max-width: 850px) {
        width: 100%;
        height: 40%;
    }
}
