@use '/src/scss/mixins' as *;
.nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    @include gap(50);
    @include mediaGap(30);
    @media (max-width: 850px) {
        flex-wrap: wrap;
        margin-bottom: auto;
        margin-top: auto;
    }
    a {
        position: relative;
        @include width(50);
        @include height(50);
        @include mediaWidth(50);
        @include mediaHeight(50);
        @media (max-width: 850px) {
            margin-left: 5%;
            margin-right: 5%;
            max-width: 52px;
            max-height: 52px;
        }
        * {
            width: 100%;
            height: 100%;
        }
    }
}
.hh {
    fill: #660007;
}
