@use 'mixins' as *;
@use 'colors' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @include fontSize(24);
    @include mediaFontSize(12);
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: $mainBackgroundColor;
}
h1 {
    @include fontSize(55);
    @include mediaFontSize(20);
}

h2 {
    @include fontSize(48);
    @include mediaFontSize(18);
}

.container {
    margin-left: auto;
    margin-right: auto;
    @include width(1420);
    @media (max-width: 850px) {
        width: 95%;
    }
}
