@use '/src/scss/colors' as *;

.section {
    display: flex;
    flex-direction: column;
    margin: 200px 0;
    gap: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 14px;
    p {
        width: 50%;
        color: $mainText;
    }
}
.h2 {
    margin: 0 auto;
}
